.loading {
  padding-top: 300px;
  text-align: center;
  font-size: 20px;
}

.container .jumbotron {
  border-radius: 0px;
  font-size: 37px;
  margin-top: 55px;
  color: white;
  font-family: Segoe,Segoe UI,Arial,"sans-serif";
  background: url(../imgs/background2.jpg) no-repeat bottom;  
}

.label {
  font-weight: 400;
}