.error-btn {
  display: block;
  color: black;
  background: #fff;
  border: 1px solid #ddd;
  font: 11px Montserrat, sans-serif;
  letter-spacing: 2px;
  padding: 10px 0;
  width: 20%;
  text-transform: uppercase;
  margin: 10px auto;
  text-align: center;
  position: relative;
  top: 5px;
  transition: all 0.25s ease-out;
}

.error-btn:hover {
  border-color: #eee;
  color: $dark-navyblue;
}

@media only screen and (max-width: 767px) {
  .error-btn {
    width: 40%
  }
}

.error-text {
  color: $dark-white;
}

.error-text-large {
  padding-top: 200px;
  color: $dark-white;
  font-size: 80px;
  font-weight: 600;    
}

.error-background {
  background-image: url('../imgs/error.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}