.main {
  width: 66.666666%;
  float: right;
}

.side {
  width: 33.333333%;
  float: left;
  padding-right: 10px;
}

@media only screen and (max-width: 767px) {
  .side {
    text-align: center;
  }
}

.panel-default>.panel-heading {
  text-align: center;
}

.list-group-item {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;    
  cursor: pointer;
  &:hover {
    background-color: $light-grey;
    .settings-buttons {
      display: inline;
    }
  }
}

.list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.add-button {
  text-align: center;
}

.home-jumbo {
  margin-bottom: 0px;
}

.jumbo-head {
  font-weight: 800;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 60px;
	text-shadow: rgba(0,0,0,0.498039) 2px 2px 2px;
	letter-spacing: 0.03em;
}

.jumbo-sub {
  font-style: italic;
  font-size: 20px;
  padding-left: 30px;
}

@media only screen and (max-width: 767px) {
  .jumbo-sub {
    display: block;
    padding-left: 10px;
  }
}

.welcome {
  text-align: center;
}